{% extends "base.tpl" %}
{% block content %}
<table class="ui celled table">
  <thead>
    <th>UUID</tH>
    <th>URL</th>
    <th>Last Execution</th>
  </thead>
  <tbody>
    {% for cfg in configs %}
    {% set last_ts,_ = cfg.last.split('_') %}
    <tr>
      <td><a href="/details/{{ cfg.id }}">{{ cfg.id }}</a></td>
      <td>{{ cfg.url }}</td>
      <td>{{ last_ts }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3" class="center aligned" style="cursor: pointer" onclick="window.location='/create'">
        Add New
        <i class="icon plus"></i>
    </tr>
  </tbody>
</table>
{% endblock %}
